body{
    background-size:cover;
}

.heading{
    margin: 0px;
    width: 100%;
    font-size: 23px;
}

.heading_div
{
  float:none;
  background: white ; 
  border-radius: 20px; 
  padding: 10px;
  color: black;
  box-shadow:5px 5px 5px grey;
}

.heading_div2
{
  font-size: 18px ;
}

.copy_right_footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    line-height: 3;
    background-color: rgb(162, 162, 122);
    color: azure;
    text-align: center;
    font-weight: bolder;
}

.result
{
  float:left;
  background: white ; 
  border-radius: 20px; 
  padding: 10px;
  color: black;
  box-shadow:5px 5px 5px grey;
}

.result2
{
  margin-top: 10px;
  margin-bottom: 10px;
  float:right;
  background: white ; 
  border-radius: 20px; 
  padding: 10px;
  color: black;
  box-shadow:5px 5px 5px grey;
}

.item
{
  margin-top: 15px;
  width: 99%;
  background: rgb(98, 90, 120) ; 
  border-radius: 20px; 
  color: black;
  box-shadow:5px 5px 5px grey;
}

.final
{
  margin-top: 30px;
  width: 99%;
  background: rgb(187, 7, 145) ; 
  border-radius: 20px; 
  color: black;
  box-shadow:5px 5px 5px grey;
}